/* Normalisasi CSS */
html, body {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

h1, h2, h3,h4 {
    margin: 0;
    padding: 0;
}

/* CSS */
.navbar {
    padding: 10px 30px;
    height: 30px;
    background: #004ba0;
    color: #ffffff;
}

.navbar_logo {
    float: left;
}

.navbar_menu {
    float: right;
}

.navbar_item {
    float: left;
    padding: 5px 10px;
}
.navbar_item:hover {
    border-bottom: 2px solid #1976d2;
    cursor: pointer;
}

.slider {
    height: 625px;
    background: #ffffff;
}

.content {
    background: #f3f3f3;
    min-height: 350px;
}

.kotak_item {
 padding: 30px 0 15px 0;
 text-align: center;
}

.judul_kotak {
    background: #0069c0;
    text-align: center;
    padding: 30px;
    color: #ffffff;
}

.more_btn {
    width: 80px;
    height: 20px;
    background: black;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 15px;
}

.kategori_wisata {
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin: 0 10px 20px 10px;
}


#container{
    padding: 30px 0; 
    background: #64b5f6;
}

#list-container {
    overflow:hidden;      
    float:left;    
    width: 100%;
}

.list{
    float:left;
    min-width: 2100px;
    padding: 0px 40px;
}


#arrowR{
    background: yellow;
    width:30px;
    height:280px;
    float:right;
    cursor:pointer;
    position: absolute;
    right: 0;
    z-index: 1;
}


#arrowL{
    position: absolute;
    background:yellow;
    width:30px;
    height:280px;
    float:left;
    cursor:pointer;
    z-index: 1;
}

.item{
    background:green;
    width:250px;
    height:250px;;
    margin:15px;
    float:left;
    position: relative;
}
    

.kotak_event {
    padding: 50px 80px;
}

.event_item {
 min-height: 300px;
 display: inline-block;
 width: 100%;
 margin-bottom: 100px; 
}

.event_detail_kiri {
    width: 40%;
    float: left;
    padding-left: 80px;
}


.event_detail_kanan {
    width: 40%;
    float: left;
    padding-right: 80px;
    text-align: right
}

.event_gambar {
    float: left;
    width: 50%;
    background: orange;
    min-height: 600px;
}

.keterangan_event_kiri {
    margin-top: 20px;
    font-size: 25px;
    padding-right: 90px;
}


.keterangan_event_kanan {
    margin-top: 20px;
    font-size: 25px;
    padding-left: 90px;
}

.galeri{
    padding: 20px 80px;
    text-align: center;
    margin-bottom: 30px;
}

.judul_galeri {
    text-align: left;
    margin-bottom: 50px;
    margin-left: 70px;
}

.galeri_item {
    display: inline-block;
    margin: 0px 25px;
}

.galeri_gambar {
    background: pink;
    width: 314px;
    height: 221px;
}

.galeri_judul {
    text-align: left;
    margin: 10px 0;
    font-style: italic;
}

.galeri_deskripsi {
    text-align: left;
    margin: 20px 0;
}

.read_more_btn {
    text-align: left;
    margin: 10px 0;
    color: #ffffff;
    background: #252525;
    width: 80px;
    padding: 5px 0px 5px 8px;
}

.contact {
    height: 200px;
    background: #1976d2;
    text-align: center;
    padding-top: 20px;
}

.social_item {
    display: inline-block;
    width: 150px;
    height: 150px;
    background: #fff;
    margin: 20px;
}

.footer {
 padding: 10px 30px;
 background: #004ba0;
 color: #ffffff;
}

.footer_kiri {
    float: left;
}

.footer_kanan {
    float: right;
}

.clearfix {
    clear: both;
}
.hidden {
    background: none;
    width: 20px;
}

#btnTop {
    width:80px; 
	height:80px;
	padding:10px; 
	text-align:center; 
	background: red;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	position:fixed;
	bottom:40px;
	right:40px;
	display:none;
  }
  
  #btnTop:hover {
    text-decoration:none;
    background: blue;
  }