/* Normalisasi CSS */
html, body {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

/* CSS */
.header {
    height: 50px;
    border: 1px solid red;
}

.content {
    height: 100vh;
    border: 1px solid blue;
}

.footer {
 padding: 10px 30px;
 background: #252525;
 color: #ffffff;
}

.footer_kiri {
    float: left;
}

.footer_kanan {
    float: right;
}

.clearfix {
    clear: both;
}